/* WOrdpress Styling Sections */

#wpcontent {
    background-color: #f1f1f1;
}

#minor-publishing-actions, #misc-publishing-actions #visibility {
    display: block !important;
}

/* Start ACF MODULES Styles */

.acf-postbox.seamless > .acf-fields > .acf-field {
    background-color: #f1f1f1;
}

.post-php [id*="acf"].postbox {
    background-color: #f1f1f1;
    border: 0px;
}

.post-php #poststuff [id*="acf"].postbox > h2.hndle,
.acf-postbox.seamless > .handlediv {
    display: none;
}

.post-php #poststuff [id*="acf"].postbox .inside {
    padding: 0px;
    margin: 0px;
}

.acf-field .acf-label label {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4em;
    margin: 0 0 3px;
    color: #444444;
    letter-spacing: 0.02em;
}

.acf-flexible-content .layout {
    border: 1px solid #ddd;
    border-top: 0px;
    border-radius: 2px;
}

.acf-flexible-content .layout .acf-fc-layout-handle {
    font-family: Circular;
    padding: 6px 0px;
    padding-left: 8px;
    background-color: #fff;
    color: #373737;
    font-weight: 500;
    text-transform: uppercase;
    transition: box-shadow 0.25s ease;
}

.acf-flexible-content .layout.-collapsed .acf-fc-layout-handle:hover {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06),
                0px 8px 8px 0px rgba(0,0,0,0.12);
}

.acf-flexible-content .layout span.acf-fc-layout-order {
    color: #bbb;
    border-radius: 20px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 8px;
    margin-top: 0px;
}



.acf-flexible-content .layout .acf-fc-layout-controlls {
    position: absolute;
    top: 16px !important;
    right: 8px !important;
}



.acf-flexible-content .layout.-collapsed > .acf-fields, .acf-flexible-content .layout.-collapsed > .acf-table {
    transition: all 0.2s ease;
}

.acf-flexible-content .layout .acf-fc-layout-controlls .acf-icon.-collapsed:hover {
    color: #fff;
    background: #a8a8a8;
}

.acf-repeater .acf-row-handle .acf-icon.-collapse {
    display: none;
    position: absolute;
    top: 17px;
    margin: -8px 0px 0px 0px;
    right: 62px;
}

.acf-flexible-content .layout.-collapsed .acf-fc-layout-handle {
    border-bottom-width: 0;
}

.acf-pull-left {
    clear: none !important;
    float: left !important;
    min-height: 40px !important;
    border-right: 1px solid #eeeeee !important;
    border-bottom: 1px solid #eeeeee !important;
}

.acf-pull-right {
    clear: none !important;
    float: right !important;
    min-height: 40px !important;
    border-left: 1px solid #eeeeee !important;
    border-bottom: 1px solid #eeeeee !important;
}

.acf-pull-center {
    clear: none !important;
    min-height: 40px !important;
    border-right: 1px solid #eeeeee !important;
    border-bottom: 1px solid #eeeeee !important;
}

.acf-clear-left {
    clear: left !important;
}

.acf-clear-both {
    clear: both !important;
}

.acf-expanded .acf-field {
	width: 100% !important;
}

.z-index {
    z-index: 1;
}





/* DECK */
.deck .acf-repeater .acf-row-handle.order {
    float: left;
    width: 99%;
    background-color: #666;
    text-align: left !important;
    border: 0px;
    z-index: 1;
}

.deck .acf-repeater .acf-row-handle.order span {
    background-color: #888;
    color: #fff;
    padding: 4px;
    text-shadow: none;
    padding-right: 0px;
    padding-left: 9px;
    margin-right: 5px;

}

.deck .acf-repeater .acf-row-handle.order span::after {
    content: "  Card";
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    background-color: #666;
    padding: 4px;
    margin-left: 10px;
}

.deck .acf-repeater .acf-table {
    background-color: #fff;
    border: 0px;
}

.deck .acf-repeater > table.acf-table > tbody > tr.acf-row {
    display: block;
    overflow: hidden;
    border: 1px solid #666;
    margin-top: 30px;
}

.deck .acf-repeater > table.acf-table > tbody > tr.acf-row:first-child {
    margin-top: 0px;
}

.deck .acf-repeater .acf-row-handle.order + td {
    float: left;
    clear: left;
    width: 100%;
    background-color: #ddd;
    border: 0px;
}

.deck .acf-table > tbody > tr > td {
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    /* Icons + and - */
    .acf-repeater .acf-row-handle .acf-icon {
        display: none;
        position: absolute;
        top: 4px;
        right: 10px;
    }
    .acf-repeater .acf-row-handle .acf-icon:hover {
        cursor: pointer;
    }
    .deck .acf-repeater .acf-row-handle .acf-icon.-plus {
        margin-top: 2px;
        top: 7px;
        right: 34px;
    }
    .deck .acf-repeater .acf-row-handle .acf-icon.-minus {
        margin-top: 2px;
        top: 7px;
        right: 8px;
    }
    .acf-repeater .acf-row-handle:hover .acf-icon {
        display: inline;
    }


.deck li {
    text-align: center;
    float: none;
    width: 100%;
    margin-left: 0px;
}

.deck .button-primary {
    font-size: 14px;
    font-weight:400;
    min-height: 40px;
    line-height: 2.7;
    text-align: center;
    padding: 0px 40px;
    width: 100%;
}

.deck .button-primary:before {
    content: "\f055";
    font-family: FontAwesome;
    left:-8px;
    position:relative;
    top:0;
}

.deck div.acf-input label {
    background-color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 0px;
}

.deck .acf-field .acf-label {
    margin-bottom: 0px;
}

.deck .acf-field .acf-input {
    vertical-align: top;
    background-color: #fff;
    border-top: 0px;
}

.deck .acf-field.acf-field-image .acf-input,
.deck .acf-field.acf-field-select .acf-input,
.deck .acf-field.acf-field-page-link .acf-input,
.deck .acf-field.acf-field-url .acf-input {
    padding: 7px;
}

.deck .acf-field.acf-field-textarea label {
    padding-left: 0px;
    padding-right: 0px;
}

.deck .acf-clone-fields {
    border: 0px;
}

.deck .acf-image-uploader .view {
    width: 100% !important;
}




/* CAROUSEL */
.carousel .acf-repeater .acf-row-handle.order {
    float: left;
    width: 99%;
    background-color: #666;
    text-align: left !important;
    border: 0px;
    z-index: 1;
}

.carousel .acf-repeater .acf-row-handle.order span {
    background-color: #888;
    color: #fff;
    padding: 4px;
    text-shadow: none;
    padding-right: 0px;
    padding-left: 9px;
    margin-right: 5px;

}

.carousel .acf-repeater .acf-row-handle.order span::after {
    content: "  Carousel Item";
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    background-color: #666;
    padding: 4px;
    margin-left: 10px;
}

.carousel .acf-repeater .acf-table {
    background-color: #fff;
    border: 0px;
}

.carousel .acf-repeater > table.acf-table > tbody > tr.acf-row {
    display: block;
    overflow: hidden;
    border: 1px solid #666;
    margin-top: 30px;
}

.carousel .acf-repeater > table.acf-table > tbody > tr.acf-row:first-child {
    margin-top: 0px;
}

.carousel .acf-repeater .acf-row-handle.order + td {
    float: left;
    clear: left;
    width: 100%;
    background-color: #ddd;
    border: 0px;
}

.carousel .acf-table > tbody > tr > td {
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    /* Icons + and - */
    .acf-repeater .acf-row-handle .acf-icon {
        display: none;
        position: absolute;
        top: 4px;
        right: 10px;
    }
    .acf-repeater .acf-row-handle .acf-icon:hover {
        cursor: pointer;
    }
    .carousel .acf-repeater .acf-row-handle .acf-icon.-plus {
        margin-top: 2px;
        top: 7px;
        right: 34px;
    }
    .carousel .acf-repeater .acf-row-handle .acf-icon.-minus {
        margin-top: 2px;
        top: 7px;
        right: 8px;
    }
    .acf-repeater .acf-row-handle:hover .acf-icon {
        display: inline;
    }


.carousel li {
    text-align: center;
    float: none;
    width: 100%;
    margin-left: 0px;
}

.carousel .button-primary {
    font-size: 14px;
    font-weight:400;
    min-height: 40px;
    line-height: 2.7;
    text-align: center;
    padding: 0px 40px;
    width: 100%;
}

.carousel .button-primary:before {
    content: "\f055";
    font-family: FontAwesome;
    left:-8px;
    position:relative;
    top:0;
}

.carousel div.acf-input label {
    background-color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 0px;
}

.carousel .acf-field .acf-label {
    margin-bottom: 0px;
}

.carousel .acf-field .acf-input {
    vertical-align: top;
    background-color: #fff;
    border-top: 0px;
    padding: 8px;
    padding-top: 6px;
}

.carousel .acf-field.acf-field-image .acf-input,
.carousel .acf-field.acf-field-select .acf-input,
.carousel .acf-field.acf-field-page-link .acf-input,
.carousel .acf-field.acf-field-url .acf-input {
    padding: 7px;
}

.carousel .acf-field.acf-field-textarea label,
.carousel .acf-field.acf-field-text label {
    padding-left: 8px;
    padding-bottom: 2px;
}

.carousel .acf-clone-fields {
    border: 0px;
}

.carousel .acf-image-uploader .view {
    width: 100% !important;
}




/* IMAGE */
.acf-image-select-list .acf-image-select .acf-image-select-selected img {
    border: solid 4px #0085ba !important;
}

/* Styles for ACF Tooltips */
.dashicons.dashicons-editor-help.tooltip {
    color: #454545;
    width: 18px;
    height: 18px;
    font-size: 20px;
    cursor: pointer!important;
}

.qtip-acf {
    background-color: #353535;
    border-color: #000000!important;
    color: #f3f3f3;
    border-radius: 3px;
    font-size: 12px !important;
    line-height: 1.3em !important;
}


.acf-youtubepicker .thumbnail img {
    display: block;
    object-fit: fill;
    min-height: 250px;
}
/* End ACF tootltips styles */




