/* *********************** */
/* Login Page */
/* *********************** */

body.login {
	font-family: Circular;
}

#login {
	width: 400px;
}

.login {
	background: #252525;
	color: #1D9595;
}

// Logo
.login h1 a {
	background-image: none, url(../images/slate-logo.png);
	background-size: 360px;
	width: 360px;
	height: 220px;
}

.login label {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: #eee;
}

.login #backtoblog,
.login #nav {
	color: #fff;
	padding: 0 38px;

	a {
		color: #bbb;
	}

}


#loginform .button.button-primary {
	border-radius: 0px;
}

.login form {
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	background: #3A3A3A;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 18px 20px;
}
.mobile #login .message, 
.mobile #login form, 
.mobile #login_error,
.mobile #login form {
	margin: 10px 15px;
}
.login form .forgetmenot {
	margin-top: 10px;
}
.login form .submit {
	margin: 10px 0 0 0;
}
.login input[type=text],
.login input[type=password],
.login input[type=checkbox] {
	color: #fff;
	background-color: #555;
	border: 1px solid rgba(0,0,0,0);
	-webkit-box-shadow: none;
	box-shadow: none;
}