/* *********************** */
/* Main Content */
/* *********************** */
#poststuff {
	padding-top: 0;
}
#post-body-content {
	margin-bottom: 15px;
}
.post-php .wrap h1.wp-heading-inline {
	display: inline-block;
}
#post-body-content > h2,
#post-body-content > h1,
.wrap h1.wp-heading-inline {
	color: #666;
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin: 30px 0 0 0;
	padding: 0 0 4px 0;
}

.edit-php .wrap h1.wp-heading-inline {
	color: #444;
	display: inline-block;
	font-size: 18px;
	margin-top: 0px;
}

.comment-php #post-body-content > h2 {
	border: 0 none;
	color: #222;
	font-size: 23px;
	line-height: 29px;
	padding: 9px 15px 4px 0;
}
.wrap h2 {
	border-bottom: 1px solid #eeecec;
	margin-bottom: 20px;
	padding-bottom: 20px;

	&.nav-tab-wrapper {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.wrap .add-new-h2, 
.wrap .add-new-h2:active {
	background: #eaeaea;
	padding: 2px 6px;
	top: -1px;
}
.wrap .page-title-action {
	margin-left: 10px;
}
#titlediv #title-prompt-text {
    color: #888;
    font-size: 2em;
    line-height: 1;
    padding: 12px 8px;
    font-weight: 400;
}
#titlediv #title,
#edit-slug-box {
	border: 1px solid #eee;
	box-shadow: none;
	//padding: 0;
}

#titlediv div.inside {
    margin: 0;
    display: none;
}
#titlediv #title {
    font-size: 2.25em;
    font-family: Circular;
    background: #fff;
    box-shadow: none;
    margin: 0px;
}

input[type=checkbox]:focus, 
input[type=color]:focus, 
input[type=date]:focus, 
input[type=datetime-local]:focus, 
input[type=datetime]:focus, 
input[type=email]:focus, 
input[type=month]:focus, 
input[type=number]:focus, 
input[type=password]:focus, 
input[type=radio]:focus, 
input[type=search]:focus, 
input[type=tel]:focus, 
input[type=text]:focus, 
input[type=time]:focus, 
input[type=url]:focus, 
input[type=week]:focus, 
select:focus, 
textarea:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}