/* *********************** */
/* Sidebar */
/* *********************** */

#poststuff #post-body.columns-2 {
	margin-right: 359px;
}

// New Comment that's useless you can delete this

#post-body.columns-2 #postbox-container-1 {
	margin-right: -339px;
	width: 299px;
	/*When set to 300px, it stops changing to fixed on scroll. No idea why.*/
}
#poststuff h3 {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}
@media only screen and (max-width: 850px) {
	#poststuff h3 {
		padding: 8px 0;
	}
}

@media only screen and (max-width: 850px) {
	#side-sortablesback,
	.comment-php #submitdiv-back {
		background: none;
		display: none;
	}
}
#poststuff #post-body.columns-2 #side-sortables,
.comment-php #submitdiv {
	border: 0 none;
	color: #555;
	width: 299px;
}
@media only screen and (max-width: 850px) {
	#poststuff #post-body.columns-2 #side-sortables,
	.comment-php #submitdiv {
		background: none;
		padding: 0;
		width: auto;
	}
}
.comment-php #submitdiv {
	padding: 20px;
	position: relative;
	width: 259px;
}

@media only screen and (max-width: 850px) {
	.postbox {
		background: #fff;
		border: 0 none;
		border-radius: 2px;
		padding: 5px 20px 10px 20px;
	}
}
#side-sortables .postbox:last-child {
	border: 0 none;
	padding: 0 20px 0 20px;
}
@media only screen and (max-width: 850px) {
	#poststuff .inside {
		padding: 0 0 12px 0;
	}
}

.stuffbox {
	border: 0 none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.post-format-icon:before, 
.post-state-format:before {
	color: #ccc;
}

.wp-core-ui .button, 
.wp-core-ui .button-secondary {
	background: #eeecec;
	border-color: #eeecec;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #555;
	vertical-align: top;
}
.wp-core-ui .button-primary.focus, 
.wp-core-ui .button-primary.hover, 
.wp-core-ui .button-primary:focus, 
.wp-core-ui .button-primary:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

.wp-core-ui .postbox .button, 
.wp-core-ui .postbox .button-secondary,
.comment-php #minor-publishing .button {
	background: #2ea2cc;
	border-color: #2ea2cc;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}
.wp-core-ui .postbox .button:hover,
.comment-php #minor-publishing .button:hover {
	border-color: #999999;
}
.wp-core-ui .button-primary,
.wp-core-ui .postbox .button-primary {
	background: #2ea2cc;
	border-color: #2ea2cc;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}
.wp-core-ui .button-primary:hover,
.wp-core-ui .postbox .button-primary:hover {
	border-color: #0074a2;
}
.wp-core-ui .button.button-primary.button-hero {
	box-shadow: none;
}

#major-publishing-actions {
	background: none;
	border: 0 none;
}
@media only screen and (max-width: 960px) {
	#major-publishing-actions {
		padding: 5px 0;
	}
}
#minor-publishing-actions {
	padding: 10px;
}
@media only screen and (max-width: 960px) {
	#minor-publishing-actions {
		padding: 5px 0;
	}
}
@media only screen and (max-width: 960px) {
	.misc-pub-section {
		padding: 6px 0px 8px;
	}
}